.wrapper{
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	background-color: #99CCFF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto";
	color: #333333;
	overflow: hidden;

}

.container {
	border-radius: 20px;
	width: 50%;
	height: 85%;
	background-color:white;
	padding: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #66CCFF;
}

.hide{
	visibility: hidden;
	position: absolute;
	opacity: 0;
	transition: opacity .5s ease .3s;	
}

.start__game {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	
		.start__button {
			font-size: 20px;
			position: relative;
			cursor: pointer;
			font-weight: 600;
			color: black;
			text-transform: uppercase;
			padding: 40px;
			background: #99CCFF;
			border: 2px solid #000033;
			border-radius: 15px;
			transform-style: preserve-3d;
			transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
				
			&::before {
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: #3399FF;
				border-radius: inherit;
				box-shadow: 0 0 0 2px #33CCFF, 0 0.625em 0 0 #33CCFF;
				transform: translate3d(0, 0.75em, -1em);
				transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
			}
				
			&:hover {
				background: #66CCFF;
				transform: translate(0, 0.25em);
				&::before {
				box-shadow: 0 0 0 2px #33CCFF, 0 0.5em 0 0 #3399CC;
				transform: translate3d(0, 0.5em, -1em);
				}
			}
			
			&:active {
				background: #99CCFF;
				transform: translate(0em, 0.75em);
					&::before {
					box-shadow: 0 0 0 2px #33CCFF, 0 0 #3399CC;
					transform: translate3d(0, 0, -1em);
					}
		}
	}
}

.game__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 20px;
	transition: opacity 1s ease .1s;	
}

.game__controls{
	height: 10%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 0px 35px;
	text-transform: uppercase;
	color: #333333;
	transition: opacity 1s ease .1s;
}

.game__cards {
	width: 90%;
	height: 65%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px 10px;
	transition: opacity 1s ease .1s;	

	.game__card{
		height: 20%;	
		width: 23%;
		cursor: pointer;
		position: relative;
		

			.card__before, .card__after{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border: 2px solid black;
				border-radius: 15px;
				backface-visibility: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				transition: all 1s ease;
			}

			.card__before{
				font-size: 35px;
				background-color: #3399CC;
				&:hover {
					background: #66CCFF;
					transform: translate(0, -2px) scale(1.02);
				}
			}

			.card__after{
				background-color: white;
				transform: rotateY(180deg);
			}

			&.flip .card__before {
				transform: rotateY(180deg);
			}
			&.flip .card__after{
				transform: rotateY(0deg);
			}

			&.completed{
				pointer-events: none;
			}
			//Минималка по адаптиву
			@media (max-width: 1000px) {
				width: 19%;
				height: 80px;
				.card__after{
					img{
						width: 100%;
						height: 100%;
						object-fit: contain;
						padding: 5px;
					}
				}
			}
			@media (max-width: 1000px) {
				width: 19%;
				height: 80px;
				.card__after{
					img{
						width: 100%;
						height: 100%;
						object-fit: contain;
						padding: 5px;
					}
				}
			}
		}
	&.completed{
		pointer-events: none;
	}
}

.game__stop {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0px 0px 0px;
	transition: opacity .8s ease;	

	.stop__button{
		font-size: 17px;
		background-color: #66CCFF;
		padding: 15px;
		border: 2px solid #333333;
		border-radius: 15px;
		color: #333333;
		
		&:hover {
			transition: all .4s ease;
			background: #66CCFF;
			transform: translate(0, -10px) scale(1.05);
		}
	}
}

.game__result {
	transition: opacity .8s ease .1s;	
	width: 70%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 20px;
	border: 4px solid #66CCFF;
	border-radius: 15px;
	text-transform: uppercase;
	padding: 20px;
	background-color: #99CCFF;
	transition: opacity 1s ease .1s;	

		h2{
			margin-bottom: 25px;
		}
}

.game__restart {
	text-transform: uppercase;
	padding: 15px 20px;
	border: 3px solid #66CCFF;
	border-radius: 15px;
	background-color: white;
	cursor: pointer;
	min-height: 60px;
	&:hover {
		transition: transform .4s ease;
		transform: translate(0, -10px) scale(1.1);
		border: 4px solid #66CCFF;
	}
}

